{% from 'macros/respuestas/inputs.html' import input %}
{% from "macros/buttons.html" import button, submit_button, voto_positivo_button, voto_negativo_button %}
{% from "macros/comentarios/container_comentarios.html" import contenedor_comentarios %}

{% macro respuesta(respuesta) %}
<div class="respuesta_div">
    <div class="container2cols">
        <div id="votos">
            {{ voto_positivo_button(respuesta.votes,"respuesta",respuesta.id,respuesta.qid) }}
            {{ voto_negativo_button(respuesta.neg_votes) }}
        </div>

        <div id="question_text_container">   
            <p class="respuesta_texto">{{ respuesta.body }}</p>
        </div>
    </div>

    <div class="container2cols">
        <div class="controlesRespuesta"> 
            {{ button("greenbg","/respuesta/"+(respuesta.id|string)+"/crear_comentario","Comentar",()) }}
            {{ button("redbg","/respuesta/"+(respuesta.id|string)+"/reporte","Reportar",()) }}
        </div>    

        <div class="metadatosRespuesta">
            <p>{{ respuesta.owner.username }}</p>
            <p>{{ respuesta.timestamp }}</p>        
        </div>

    </div>
    
    <div class="comentarios">
        {{ contenedor_comentarios(respuesta.comments,respuesta.qid) }}
    </div>
</div>
{% endmacro %}
