{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Moderator{% endblock %}
{% block contentheading %}Moderators panel{% endblock %}
{% block maincontent %}
    {% block moderatorcontent %}
    <div class="3cols">
        <div class="conReportes">
            <h3>Reportes Preguntas</h3>
            {{ }}
        </div>

        <div class="conReportes">
            <h3>Reportes Respuestas</h3>
            {{ }}
        </div>

        <div class="conReportes">
            <h3>Reportes comentarios</h3>
            {{ }}
        </div>
    </div>
    {% endblock %}
{% endblock %}
