{% macro form_respuesta(pregunta_anterior) %}
{% from "macros/buttons.html" import submit_button, button %}
<script src="/static/scripts/editor_texto.js" ></script>

<div class="contenedor_respuesta">
    <form action="/pregunta/<id_preg>/crear_respuesta" method="post">
        <input type="hidden" name="qid" id="qid" value="{{pregunta_anterior}}">
        <div id="editor_respuesta">
            <!-- Convertir en macro? 
            <div id="controles_texto">
                {{ button("yellowbg","","Negrita","boton1()") }}
                {{ button("yellowbg","","Cursiva") }}
                {{ button("yellowbg","","Subrallado") }}
                {{ button("yellowbg","","Imagen") }}
            </div>
             -->
            <div class="marco_texto">
            <textarea 
                id="texti" 
                class="texto_formulario" 
                name="abody"
                rows="10"
                cols="100"
                placeholder="Tu respuesta aqui"></textarea>
            </div>
            {{ submit_button('bluebg', 'Responder') }}
        </div>
    </form>
</div>
{% endmacro %}

