<!--Imports de los botones de votacion-->
{% from 'macros/buttons.html' import button, voteUp_button, voteDown_button %}

<!--Pregunta en formato de titulo-->
{% macro tituloPregunta(titulo,id_pregunta) %}
<h2 class="questiontext"><a href="/pregunta/{{id_pregunta}}">{{titulo}}</a></h2>
{% endmacro %}

<!--Macro de los datos de pregunta(quien pregunto, fecha...)-->
{% macro datosPregunta(usuario,timestamp) %}
<div class="datosPregunta">
    <p>Preguntado por:{{usuario}}</p>
    <p>Fecha de la pregunta:{{ timestamp }}</p>
</div>
{% endmacro %}

<!--Macro del cuerpo de la pregunta-->
{% macro cuepoPregunta(descripcion) %}
<div class="questiontext">
    <p>{{descripcion}}</p>
</div>
{% endmacro %}

<!--Macro de la pregunta completa-->
{% macro pregunta(pregunta) %}
<div class="questiondiv">
    {{tituloPregunta(pregunta.title,pregunta.qid)}}
    {{cuepoPregunta(pregunta.body)}}

    {{datosPregunta(pregunta.owner.username,pregunta.timestamp)}}
      
    {{ button("greenbg","/pregunta/"+(pregunta.qid|string)+"/crear_respuesta","Responder",()) }}
</div>
{% endmacro %}

<!--Macro de la pregunta completa-->
{% macro pregunta_simple(pregunta) %}
<div class="questiondiv">
    {{ tituloPregunta(pregunta.title,pregunta.qid) }}
    {{ datosPregunta(pregunta.autor,pregunta.timestamp) }}
</div>
{% endmacro %}